.card__row {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}

.pair {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.space__between {
    width: 40px;
}

.trash__button__container {
    width: 100px;
}

a.trash {
    display: inline-block;
    margin-top: 80px;
    width: 56px;
    height: 56px;
}

.button__circle {
    background-color: #ffffff;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 44px;
    margin-top: 80px;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 50%;
} 

.number {
    color: grey;
    margin-left: -1px;
    font-size: 28px;
    font-weight: 700;
}

